<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Flekto_Postcode::flekto_postcode" title="Postcode.nl" sortOrder="300">
                    <resource id="Flekto_Postcode::config_flekto_postcode" title="Configuration" sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
