<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <postcodenl_api>
            <status>
                <module_version>4.0.0</module_version>
                <account_status>new</account_status>
            </status>
            <general>
                <enabled>1</enabled>
                <change_fields_position>1</change_fields_position>
            </general>
            <advanced_config>
                <allow_pobox_shipping>1</allow_pobox_shipping>
                <split_street_values>0</split_street_values>
                <admin_address_autocomplete_behavior>default</admin_address_autocomplete_behavior>
            </advanced_config>
        </postcodenl_api>
    </default>
</config>
