<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="PostcodeEu\AddressValidation\Api\PostcodeModelInterface" type="PostcodeEu\AddressValidation\Model\PostcodeModel" />
    <preference for="PostcodeEu\AddressValidation\Api\Data\UpdateNotificationInterface" type="PostcodeEu\AddressValidation\Model\UpdateNotification" />
    <preference for="PostcodeEu\AddressValidation\Api\UpdateNotificationRepositoryInterface" type="PostcodeEu\AddressValidation\Model\UpdateNotificationRepository" />
    <preference for="Magento\Framework\Filesystem\DriverInterface" type="Magento\Framework\Filesystem\Driver\File" />
    <preference for="Magento\Checkout\Block\Checkout\AttributeMerger" type="PostcodeEu\AddressValidation\Block\Checkout\AttributeMerger" />

    <type name="Magento\Framework\Validator">
        <plugin name="postcode_eu_city_validation" type="PostcodeEu\AddressValidation\Plugin\ValidatorPlugin"/>
    </type>

    <type name="Magento\Framework\App\AreaList">
        <arguments>
            <argument name="areas" xsi:type="array">
                <item name="postcode_eu" xsi:type="array">
                    <item name="frontName" xsi:type="string">postcode-eu</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
