<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="postcodenl_api" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="999" translate="label">
            <label>Postcode.eu Address Validation</label>
            <tab>sales</tab>
            <class>postcode-eu-api-section</class>
            <resource>PostcodeEu_AddressValidation::config_postcode_eu</resource>

            <group id="status" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <frontend_model>PostcodeEu\AddressValidation\Block\System\Config\Status</frontend_model>
            </group>

            <group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label">
                <attribute type="expanded">1</attribute>
                <fieldset_css>postcode-eu-api-group postcode-eu-api-group-general</fieldset_css>
                <label>Configuration</label>
                <field id="enabled" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select" canRestore="1">
                    <label>Enabled</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_key" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="text">
                    <label>API key</label>
                    <comment/>
                </field>
                <field id="api_secret" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label" type="obscure">
                    <label>API secret</label>
                    <comment/>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="nl_input_behavior" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="40" translate="label" type="select">
                    <label>Dutch address fields behavior</label>
                    <comment/>
                    <source_model>PostcodeEu\AddressValidation\Model\Config\Source\NlInputBehavior</source_model>
                </field>
                <field id="show_hide_address_fields" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="50" translate="label" type="select">
                    <label>Address fields behavior in autocomplete</label>
                    <comment/>
                    <source_model>PostcodeEu\AddressValidation\Model\Config\Source\ShowHideAddressFields</source_model>
                </field>
                <field id="allow_autofill_bypass" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="60" translate="label" type="select" canRestore="1">
                    <label>Add manual entry link</label>
                    <comment>Allows users to skip the autocomplete field and manually enter an address. Enabling this option may lead to invalid addresses. Applicable to free address input only.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="show_hide_address_fields" separator="|">format|disable|hide</field>
                    </depends>
                </field>
                <field id="change_fields_position" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="70" translate="label" type="select" canRestore="1">
                    <label>Change address fields position</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <group id="advanced_config" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label">
                <label>Advanced Configuration</label>
                <fieldset_css>postcode-eu-api-group postcode-eu-api-group-advanced</fieldset_css>
                <field id="disabled_countries" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="90" translate="label" type="multiselect" canRestore="1">
                    <label>Countries to exclude</label>
                    <comment>Selected countries will have Address API disabled.</comment>
                    <source_model>PostcodeEu\AddressValidation\Model\Config\Source\DisabledCountries</source_model>
                </field>
                <field id="allow_pobox_shipping" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="100" translate="label" type="select" canRestore="1">
                    <label>PO box shipping</label>
                    <comment>Allow shipping to PO boxes.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="admin_address_autocomplete_behavior" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="110" translate="label" type="select" canRestore="1">
                    <label>Address autocomplete in admin</label>
                    <comment>Control address autocomplete behavior for the admin order form.</comment>
                    <source_model>PostcodeEu\AddressValidation\Model\Config\Source\AdminAddressAutocompleteBehavior</source_model>
                </field>
                <field id="split_street_values" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="120" translate="label" type="select" canRestore="1">
                    <label>Split street address values</label>
                    <comment>Distribute street address values to available street fields.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_debug" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="130" translate="label" type="select" canRestore="1">
                    <label>Debug</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
